*.bak
*.DS_Store
*.log
*.sublime-project
*.sublime-workspace
.php_cs
composer.lock
config/settings.php
config/testing.php
environment.php
phinx.yml
phpdox.xml
phpunit.xml
server/docker/
sftp-config.json
vendor/
humbuglog.txt
humbuglog.json
humbug.json
