<?php
/*
 * Copyright (c) 2012-2016 Veridu Ltd <https://veridu.com>
 * All rights reserved.
 */

$appSettings = [
    'debug' => true,
    'displayErrorDetails' => true,
    'determineRouteBeforeAppMiddleware' => true,
    'db' => [
        'driver'    => 'pgsql',
        // 'read' => [
        //     'host' => 'localhost'
        // ],
        // 'write' => [
        //     'host' => 'localhost'
        // ],
        'host'      => 'localhost',
        'port'      => 5432,
        'database'  => '***REMOVED***',
        'username'  => '***REMOVED***',
        'password'  => '***REMOVED***',
        'charset'   => 'utf8',
        'collation' => 'utf8_unicode_ci',
        'prefix'    => '',
        'options'   => [
            \PDO::ATTR_PERSISTENT => true
        ]
    ],
    'log' => [
        'path'  => sprintf(
            '%s/../log/api-%04d%02d%02d.log',
            __DIR__,
            date('Y'),
            date('m'),
            date('d')
        ),
        'level' => Monolog\Logger::DEBUG
    ],
    'cache' => [
        'driver'  => 'redis',
        'options' => [
            'servers' => [
                ['localhost', 6379]
            ]
        ]
        // 'driver' => 'ephemeral'
    ],
    'gearman' => [
        'timeout' => 1000,
        'servers' => [
            ['localhost', 4730]
        ]
    ],
    'optimus' => [
        'prime'   => 0,
        'inverse' => 0,
        'random'  => 0
    ],
    'repository' => [
        'strategy' => 'db',
        'cached'   => false
    ]
];
